/.idea/
/__pycache__/
/build/
/dist/
/publish/
/main.spec
/*.zip
*.pyc
*.qmlc
checkpoint
/network/ResNet/data/
/network/ResNet/model.ckpt*
/network/maskRCNN/images/*
/network/maskRCNN/images-example/
/network/maskRCNN/logs/
/network/maskRCNN/*.h5